<?php
//LDAP
// Connection
$ldap_host = 'ldap.example.com';
$ldap_port = '389';
$ldap_user = 'cn=reader,ou=people,dc=example,dc=com';
$ldap_password = 'reader';
// The root of catalog
$ldap_root = 'dc=example,dc=com';
// Base for search uid
$ldap_base = "ou=people,$ldap_root";
// Base for search memberUid
$ldap_base_manager = "cn=TopManagers,ou=groups,$ldap_root";
// VARS
$ldap_uid = $_GET['user'];
$ldap_filter = "(uid=$ldap_uid)";
$ldap_filter_manager = "(memberUid=$ldap_uid)";
$ldap_target_gid = '1100';
// Organisation
$exten_prefix = ' доб. 1-';
$telnumber_all = '8-800-2000-600';
$telnumber_manager = '8-800-2000-666';
$im_enabled = true;
$im_default = '<br>Telegram channel: @support';
$im_prefix = 'Telegram: ';
// Thunderbird
$mail_domain = 'mail.example.com';
$mail_server_type = 'imap';
$mail_server_port = '143';
$mail_smtp_desc = 'SMTP server of our company';
$mail_smtp_port = '25';
$mail_identity_org = 'Example, Inc.';
$ldap_nonascii_desc = 'Domain';
$ldap_nonascii_uri = "ldap://$ldap_host/$ldap_base??sub?(objectClass=posixAccount)";
$quicktext_default_import = '/home/exchange/quicktext.xml';
$messenger_save_dir = '/tmp';
//Caldav
$caldav_enable = true;
$caldav_settings = "";
$caldav_base_url = 'https://calendar.example.com/remote.php/dav/calendars/';
$caldav_entries = array (
    array ('name' => 'Personal',
           'id' => 'personal',
           'color' => '#3300ff',
           'uuid' => uniqid())
);
// Signature
$siga_marketing = "Marketing bullshit<br>";
$siga_prefix = "Best regards, ";
$siga_url = "<br>URL";
$siga_postfix = "<br>Some spam";
$siga_support_address_domain = 'example.com';
$siga_support_address_prefix = 'info.';
$siga_support_address_postfix = '';
$siga_support_address_default = "$siga_support_address_prefix" . "global" . "$siga_support_address_postfix" . "@" . "$siga_support_address_domain";
$siga_support_address_array = array(
  'boston' => 'Boston',
  'de' => 'Delaware',
  'ny' => 'New York'
);
?>
